.main {
  background-image: url(../../images/back.png);
  margin-top: -80px;
  background-position: bottom;
  max-width: 1440px;
  min-height: 576px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.main__title {
  margin: 0;
  max-width: 608px;
  padding: 75px 0 35px 0;
  font-family: RobotoSlab;
  font-weight: 500;
  font-size: 60px;
  line-height: 1.1;
}

.main__text {
  margin: 0;
  line-height: 1.4;
  max-width: 608px;
  padding-bottom: 55px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
}