.about {
  min-height: 624px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.about__avatar {
  object-fit: contain;
  margin: auto 56px auto 104px;
  width: 33vw;
  max-width: 464px;
  max-height: 464px;
  border-radius: 50%;
}

.about__info-block {
  margin-right: 15vw;
  max-width: 600px;
  width: 40vw;
  min-height: 464px;
  padding-top: 50px;
}

.about__title {
  font-family: "RobotoSlab";
  font-weight: 400;
  font-size: 40px;
}

.about__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}