.search {
  font-family: "Roboto";
  font-size: 18px;
  padding: 0;
  border: 0;
  width: 608px;
  height: 64px;
  border-radius: 32px;
  background-color: white;
  display: flex;
}

@media(max-width:1000px) {
  .search {
    width: 452px;
    height: 56px;
  }
}

.search__input {
  padding: 0 0 0 20px;
  border: 0;
  height: inherit;
  outline: none;
  width: 440px;
  border-radius: inherit;
}

.search__button {
  color: white;
  border: 0;
  height: inherit;
  border-radius: inherit;
  width: 168px;
  background-color: #2f71e5;
  outline: none;
  cursor: pointer;
}