.header {
  color: white;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #c4c4c4;
  position: relative;
  z-index: 1;
}

.header__title {
  font-family: RobotoSlab;
  font-weight: 800;
  padding: 10px 0 0 107px;
  font-size: 21px;
}

.header__manage-box {
  display: flex;
}

.header__button {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: inherit;
  margin: 18px 100px 0 25px;
  padding: 0 20px 0 20px;
  height: 50px;
  font-family: Roboto;
  font-size: 18px;
  border: solid 1px;
  border-color: inherit;
  border-radius: 40px;
  cursor: pointer;
  outline: none;
}