.list {
  padding: 80px 104px;
}

.list__title {
  margin: 0 0 50px 0;
  font-family: RobotoSlab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
}

.list__cards {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}